*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

body{
    background-color: #0e0e0e;
    height: 100%;
}

main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh;
}

.first{
    background-color: hsl(31, 77%, 52%);
    width: 100%;
    padding: 3em;
}

.first h3{
    font-weight: 700;
    padding-bottom: 30px;
   color: hsl(0, 0%, 95%);
}
 .first p{
    font-weight: 400;
    padding-bottom: 40px;
    color:  hsl(0, 0%, 95%);
   
}
.second{
    background-color: hsl(184, 100%, 22%);
    width: 100%;
    padding: 3em;
}
.second h3{
    font-weight: 700;
    padding-bottom: 30px;
   color: hsl(0, 0%, 95%);
}
 .second p{
    font-weight: 400;
    padding-bottom: 40px;
    color:  hsl(0, 0%, 95%);
}

.third{
    background-color: hsl(179, 100%, 13%);
    width: 100%;
    padding: 3em;
}

.third h3{
    font-family: 'Big Shoulder Display';
    font-weight: 700;
    padding-bottom: 30px;
   color: hsl(0, 0%, 95%);
}
 .third p{
    font-weight: 400;
    padding-bottom: 40px;
    color:  hsl(0, 0%, 95%);
 }

 button{
    border-color: hsl(0, 0%, 95%);
    border-radius: 38px;
    background-color: hsl(0, 0%, 95%);
    padding: 8px;
    cursor: pointer;
 }

 .first button{
    color: hsl(31, 77%, 52%);
 }

 .second button{
    color:hsl(184, 100%, 22%);
 }

 .third button{
    color: hsl(179, 100%, 13%);
 }

 @media only screen and (max-width: 768px){
    body{
        width: 100%;
        display: block;
        margin-top: 10px;
        margin-bottom: 100px;
        padding: 3px 5px;
    }

 }
 